<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/style.min.css")
    title My project - Vesnin E.I.
  body

    section.start-window

      b.start-window__slogan-text Это просто демонстрационный сайт -  Made by me &#128515;

      p.start-window__default-text.
        Данный сайт сделан для демонстрации моих навыков в web разработке, 
        что то вроде сайта резюме. Разработка начата 15.11.2020 с чистого листа.
        Для данного проекта нет готового дизайна, разве что в моей голове и кусками
        #[span.start-window__comment (пссс...если ты дизайнер, скажи что поменять &#128579;)]
        На сегодняшний день уже есть база из сертификатов и личных познаний...
        но подробнее об этом можно будет почитать дальше.&#128521;

      p.start-window__contacts.
        Если возникла необходимость связаться со мной, возможно у вас есть 
        работа для меня, или интересный проект, а возможно возникла идея 
        по улучшению данного проекта - мои контактные данные ниже:

      button.start-window__close-button Поехали смотреть!